{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}

{% block javascript %}
    <script>
        window.addEventListener("load",function() {
            function sendData() {
                const XHR=new XMLHttpRequest();
                const FD=new FormData(form);
                XHR.addEventListener("load",function(event){
                    console.log(event.target.responseText)
                });
            }
        })
    </script>
{% endblock %}
